@font-face {
    font-family: Montserrat;
    src: url(ressources/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lora;
    src: url(ressources/fonts/Lora-VariableFont_wght.ttf);
}

:root {
    --bluelight: #1B7590;
    --bluedark: #02263A;
    --accentcolor: #FFBC6F;
    --bluegradient: linear-gradient(var(--bluelight), var(--bluedark));
    --greygradient: linear-gradient(to right, #F2E4E7, #F9ECEF);
    --accentgradient: linear-gradient(var(--accentcolor), #fff);
    --boxshadow: 5px 5px 10px rgba(0,0,0,0.25);
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

.allHidden {
    opacity: 0;
    transform: translateX(-50%);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

body {
    font-family: Montserrat, Lora, system-ui, Arial;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--bluelight);
    transition: 200ms ease-in;
}

address {
    font-style: normal;
}

section {
    padding: 1rem 0;
    background: var(--greygradient);
}

.content {
    transition: 1s;
    margin: 0 auto;
    max-width: 1028px;
    padding: 1rem 2rem;
}

.fa, .fa-brands {
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    background: var(--bluegradient);
    color: transparent;
    background-clip: text;
}

h2 {
    font-size: 2.5rem;
    color: var(--bluelight);
}

h3 {
    font-size: 2rem;
    color: var(--bluedark);
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

.button, input[type='submit'] {
    display: inline-block;
    text-decoration: none;
    background: var(--accentcolor);
    color: var(--bluelight);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--boxshadow);
    transition: 300ms ease-in-out;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 600;
}

.button:hover, input[type='submit']:hover, input[type='submit']:focus {
    background: var(--bluelight);
    color: #fff;
    transform: scale(1.05);
}

input, textarea {
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    font-size: 1rem;
}

input:hover, textarea:hover {
    outline: 5px solid var(--accentcolor);
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.form-element {
    display: flex;
    flex-flow: column;
    margin: 1.5rem 0;
    gap: 1rem;
}


/* Header Styles */
header {
    background: var(--bluegradient);
    border-radius: 75px;
    max-width: 500px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1rem;
    box-shadow: var(--boxshadow);
    overflow: hidden;
    z-index: 9999;
}

header .fa {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}

.header-content {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    max-height: 0;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: 300ms ease-in;
}

header nav.active {
    max-height: 250px;
    pointer-events: initial;
}

header nav a {
    transition: 1s;
    color: #fff;
    padding: 0.5rem;
    display: block;
    width: 100%;
    text-align: center;
    background: linear-gradient(
        to right,
        transparent 33%,
        var(--accentcolor) 33% 66%,
        transparent 66% 100%
    );
    background-size: 300% 100%;
    background-position: left;

}

header nav a:hover, header nav a:focus {
    color: #000;
    background-position: center;
}

/* Section #Teaser Styles */

#teaser {
    width: 100%;
    height: 100dvh;
}

.home-teaser {
    background: url(ressources/images/backgrounds/bg-home.jpg) no-repeat fixed;
    background-size: cover;
}

section#teaser {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

nav a.movingOut {
    background-position: right;
}







/**************************
Styles for Service Section 
**************************/

section#service {
    background: var(--bluegradient);
}

section#service h2 {
    color: #FFBC6F;
}

section#service .content {
    display: flex;
    flex-flow: column;
}

.service-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.service-boxes > div h3 {
    text-align: center;
    line-height: 0;
}

.service-boxes > div {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: var(--accentcolor);
    margin: 0.25rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: var(--boxshadow);
}

.service-boxes > div .fa {
    font-size: 3rem;
}

.service-boxes > div:hover, .service-boxes > div:focus, .service-boxes > div.box-active {
    background: transparent;
    color: #fff;
    outline: 1px solid #fff;
}

.service-boxes > div:hover h3, .service-boxes > div:focus h3, .service-boxes > div.box-active h3 {
    color: #fff;
}

.service-content {
    overflow: hidden;
    color: #fff;
}

.service-content h3 {
    color: #fff;
}

.service-content-track {
    display: none;
    transition: 500ms;
}

.service-content-track > div {
    flex: 1 0 100%;
    transition: 500ms;
}

.service-content-track > div:not(:first-child) {
    opacity: 0;
}

/* Special Styles only for wide screen */
@media screen and (min-width: 1028px) {

    .service-boxes {
        display: flex;
        justify-content: space-between;
    }

    .service-content-track {
        display: flex;
    }

    
}



.projekte-details {
    display: flex;
    gap: 1rem;
    flex-flow: column;
}

.projekt-logos {
    display: flex;
    justify-content: space-around;
}

.projekt-logos div {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
}

.logo-tus {
    background: url(ressources/images/logos/tuseversten-logo.png) no-repeat center;
    background-size: contain;
}

.logo-nightlife {
    background: url(ressources/images/logos/nightlifeevents-logo.png) no-repeat center;
    background-size: contain;
}

.logo-ttc {
    background: url(ressources/images/logos/ttc-logo.png) no-repeat center;
    background-size: contain;
}

.projekt-image {
    width: 100%;
    height: 500px;
    flex: 1;
    border-radius: 50px;
    box-shadow: var(--boxshadow);
    transition: 500ms;
}

.projekt-image.tus {
    background: url(ressources/images/mockups/mockup-tus-eversten-2000px.jpg) no-repeat;
    background-size: cover;
}

.projekt-image.nightlife {
    background: url(ressources/images/mockups/mockup-nightlife-events-2000px.jpg) no-repeat;
    background-size: cover;
}

.projekt-image.ttc {
    background: url(ressources/images/mockups/mockup-ttc-oldenburg-2000px.jpg) no-repeat;
    background-size: cover;
}

.projekt-details {
    flex: 1;
    overflow: hidden;
}   

.projekt-description {
    display: flex;
    flex-flow: row nowrap;
    transition: 500ms;
}

.projekt-description > div {
    flex: 1 0 100%;
    padding: 1rem;
}

#projekte .fa-external-link {
    font-size: 1rem;
}

#projekte a:hover, #projekte a:focus {
    color: var(--accentcolor);
}

@media screen and (min-width: 1028px) {

    .projekte-details {
        flex-flow: row;
    }

    .projekt-image {
        height: auto;
    }

}




footer {
    width: 100%;
    background: var(--bluegradient);
    color: #fff;
}

footer .widget-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    transition: 1s;
    color: #fff;
}

.widget-footer .fa, .widget-footer .fa-brands {
    font-size: 1rem;
    color: var(--accentcolor);
}

.widget-footer li:hover .fa, .widget-footer li:focus .fa-brands {
    color: #fff;
}

footer .contact {
    display: flex;
    flex-flow: column;
}

.copyright-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .content > div {
    margin: 1rem 0;
}

footer ul {
    list-style: none;
    padding: 0;
}








.contact-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.contact-options a {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 1rem;
    transition: 300ms;
}

.contact-options a:hover, .contact-options a:focus {
    background: var(--accentcolor);
    color: #000;
}

.form-element:last-child input {
    float: left;
}


@media screen and (min-width: 1024px) {

    section#contact .content {
        display: flex;
        gap: 1rem;
    }

    section#contact .content address {
        flex: 1;
        flex-flow: column;
    }

    section#contact .content form {
        flex: 2;
    }

    .contact-options {
        flex-flow: column nowrap;
        align-items: stretch;
    }

    form {
        border-radius: 1rem;
        padding: 2rem;
        background: var(--bluegradient);
        box-shadow: var(--boxshadow);
        color: #fff;
    }

    form h3 {
        color: var(--accentcolor);
    }

}






section#about {
    background: var(--bluegradient);
    color: #fff;
}

section#about h2 {
    color: #fff;
}